---
import Layout from '../layouts/Layout.astro';
import Navbar from '../components/Navbar.astro';
import Card from '../components/Card.astro';
import Banner from '../components/Banner.astro';
import { Event } from '../constants/Event';
---

<Layout title='Home'>
  <main>
    <Navbar />
    <Banner />
    <div class='container mx-auto max-w-7xl my-20'>
      <div
        class='grid grid-flow-row gap-8 justify-center sm:grid-cols-1 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4'
      >
        {
          Event &&
            Event.map((val, index) => (
              <a href='/event'>
                <Card
                  key={index}
                  image={val.image}
                  title={val.title}
                  description={val.description}
                  price={val.price}
                  date={val.date}
                />
                <Card
                  key={index}
                  image={val.image}
                  title={val.title}
                  description={val.description}
                  price={val.price}
                  date={val.date}
                />
              </a>
            ))
        }
      </div>
    </div>
  </main>
</Layout>
