---
import Layout from "../layouts/Layout.astro";
import Navbar from "../components/Navbar.jsx";
import Card from "../components/Card.astro";
import Banner from "../components/Banner.astro";

const response = await fetch("http://localhost:3000/event");
const data = await response.json();
const { events } = data;
console.log(events);
---

<Layout title='Home'>
  <main>
    <Navbar client:only />
    <Banner />
    <div class='container mx-auto max-w-7xl my-20'>
      <div
        class='grid grid-flow-row gap-8 justify-center sm:grid-cols-1 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4'
      >
        {
          events &&
            events.map((val) => (
              <a href={`/events/${val._id}`}>
                <Card
                  key={val._id}
                  image={val.event_image}
                  title={val.event_title}
                  description={val.event_description}
                  price={500}
                  date={val.event_date}
                />
              </a>
            ))
        }
      </div>
    </div>
  </main>
</Layout>
