---
const { image, title, description, price, date } = Astro.props;
---

<div
  class='max-w-sm bg-third-color rounded overflow-hidden shadow-lg cursor-pointer'
>
  <img
    class='w-full h-48 object-cover'
    src={image}
    alt='Sunset in the mountains'
  />
  <div class='px-6 py-4'>
    <div class='text-white font-bold text-xl mb-2'>{title}</div>
    <p class='text-gray-400 text-base'>
      {description}
    </p>
    <div class='flex justify-between items-center mt-4'>
      <div class='text-gray-400 text-sm flex items-center'>
        <img src='/calendar.svg' class='w-4 h-4 mr-3' />
        {date}
      </div>
      <div class='text-green-500 text-sm flex items-center'>
        <img src='/eth-currency.svg' class='w-4 h-4 mr-3' />{price}
      </div>
    </div>
  </div>
</div>
